/*imports */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;0,700;1,300&display=swap');

/*variables*/
:root {

    /*palette*/
    --primary: #2E4756;
    --secondary: #9FA2B2;
    --accent: #16262E;
    --titles: #FFFFFF;
    --links: #9FA2B2;
    --btext: #000000;
    --background: #D9D9D9;

    /*fontsize*/

    --text-xxl: 4.8em;
    --text-xl: 3.6em;
    --text-l: 3.2em;
    --text-m: 2em;
    --text-s: 1.6em;
    --text-xs: 1.4em;

    /*spacings*/

    --sp-xxl: 12rem;
    --sp-xl: 8rem;
    --sp-l: 5rem;
    --sp-m: 3.2rem;
    --sp-s: 1.6rem;
    --sp-xs: 0.8rem;

}

/*normalize*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: var(--text-s);
    color: var(--btext);
    background-color: #D9D9D9;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

ul {
    list-style-type: none;
}

li a {
    color: var(--titles);
}

a {
    display: inline-block;
    font-size: var(--text-m);
    text-decoration: none;
    color: var(--btext);
}

img {
    width: 100%;
}

.inlinecont {
    display: inline-block;
}

.main_container {
    max-width: 1200px;
    margin: auto;
}

.margintopJus{
    margin-top:  50px;
}

.marginleftJus{
    margin-left: 200px;
}

.sepSmall{
    width: 10px;
}

/*GRID SETTINGS*/
.gridContSetup{
    display: grid;
    grid-template-columns: 50% 50%;
}


.gridRowSetup{
    display: grid;
    grid-template-rows: 2fr 1fr; 
}

.cajita{
    width: 500px;
    height: auto;
}



/*HEADER */

header {
    background-color: var(--accent);
    padding: 1rem;
}

/*NAV BAR*/

.navbar {
    display: flex;
    justify-content: space-between;

}

/* hacer la imagen de logo más pequeña*/
.navbar .navbar__link {
    display: flex;
    min-width: 80px;
    max-width: 80px;
}

.navbar .menu {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    font-size: 1rem;
}

.menu .menu__link {
    padding: 1rem;
    border-radius: 50px;
    transition: background .3s ease-in-out, color .3s ease-in-out;
}

.menu .menu__link:hover {

    background-color: var(--links);
    color: var(--btext);
}

/*CIERRE NAV BAR*/

/*normalizacion de footer*/
.credit_footer {
    display: grid;
    place-items: center;
    font-size: 1rem;

}

.credit_footer p {
    margin: 6px;
}

/*Bienvenida*/

.bienvenida {
    background-color: #D9D9D9;
    display: grid;
    place-items: center;
    text-align: center;

}

.bienvenida h2 {
    font-size: 40px;
}

.bienvenida h3 {
    font-size: 25px;
}

.bienvenida_contacto {
    font-size: 1em;
    border: solid 2px var(--accent);
    border-radius: 50px;
    padding: 10px;
}



/*DIVISOR*/
.divisor {
    padding-top: 4rem;
    padding-top: 4rem;
}

/*Normalizar tamaño de imagenes (botones)*/
#button_container img {
    width: 200px;
    height: 133px;
    border-radius: 50px;
}

/*Los 3 botones*/

#button_container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;
}

#button_container div {
    align-items: center;
    margin: 50px;
}

/*Boton de servicios*/

.servicios-button {
    height: 400px;
    width: 250px;
    background-color: #16262E;
    padding: 25px;
    border-radius: 50px;
}

.servicios-button h4 {
    color: var(--background);
    font-size: 3rem;
}

.servicios-button p {
    color: var(--background);
    font-size: 1.4rem;
}

/*Boton de Planes*/

.planes-button {
    height: 400px;
    width: 250px;
    background-color: #16262E;
    padding: 25px;
    border-radius: 50px;
}

.planes-button h4 {
    color: var(--background);
    font-size: 3rem;
}

.planes-button p {
    color: var(--background);
    font-size: 1.4rem;
}

/*Boron de Nosotros*/

.nosotros_button {
    height: 400px;
    width: 250px;
    background-color: #16262E;
    padding: 25px;
    border-radius: 50px;
}

.nosotros_button h4 {
    color: var(--background);
    font-size: 3rem;
}

.nosotros_button p {
    color: var(--background);
    font-size: 1.4rem;
}

/*NOSOTROS*/

.banner_nosotros {
    background-color: var(--primary);
    color: #FFFFFF;
    max-height: fit-content;
}



/*SERVICIOS*/

.servbanner{
    background-color: #2E4756;
    height: fit-content;
}

.servtitulo{
    color: var(--background);
    font-size: var(--text-xl);
    text-align: center;
    letter-spacing: 1rem;
}

.servtextobanner{
    color: var(--background);
    text-align: left;
    
}

.divisorbanner{
    width: 10px;
    height: 300px;
    background-color: #CCC;
}

.espaciadoServ{
    width: 300px;
}

.servPriPar{
    padding-top: 200px;
}

.fotoejemplo {
    background-color: gray;
    width: 85px;
    height: 85px;
    margin: auto;
}

.adjustServ{
    width: 240px;
    height: 172px;
}

/* FIN DE LOS SERVICIOS*/

/*Planes*/
.espaciadofinalPlanes{
    height: 200px;
}

.nosH2{
    color: var(--btext);
}

/*footer planes*/

.footer_planes {
    background-color: var(--secondary);
}

.footer_planes a {
    padding: 0.5rem;
    border-radius: 50px;
    border: 1px solid #3C7A89;
    font-size: 1.5rem;
    color: #EBECF2;
}

.footertitle{
    font-size: 2em;
    text-align: left;
}

.footertext{
    font: 1em;
    text-align: left;
}
.footergridFix{
    display: grid;
    grid-template-columns: 200px 100px;
}

.footerPlanButton{
    height: 40px;
    
}

.espaciadoFinal{
    height: 100px;
}
/* Fin de planes */

/*NOSOTROS*/

.nosotros_title{
    font-size: 30px;
    text-align: left;
    font-weight: 600;
}

.nosotros_pic{
    background: grey;
    height: 150px;
    width: 150px;
}

.nosotros_names{
    font-weight: 600;
    font-size: 1.5em;
}


.nosotros_contactButton{
    font-size: 16px;
    font-weight: 500;
    border: solid var(--primary) 2px;
    border-radius: 50px;
    padding: 10px;
    margin-top: 20px;
}


/*FIN DE PAGINA NOSOTROS*/


/* CONTACTO */

.contact_grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.divisorbannerCol{
    width: 200px;
    height: 300px;
    background-color:var(--primary);
}

.contactTitle{
    font-size: 3em;
    
}

.contactForm h3{
    padding-top: 0.5em;
    padding-bottom: 0.5m;
}

.contactForm input, textarea{
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.1);
    opacity: 0.6;
}

.contactSubButton{
    padding: 5px;
}

.servtitulo2{
    color: var(--accent);
    font-size: var(--text-xl);
    text-align: center;
    letter-spacing: 0.5rem;
}

/* FIN PAGINA DE CONTACTO*/

@media screen and (max-width: 650px) {


    /*MAIN CONTAINER FIX*/

    .main_container{
        max-width: 650px;
    }
/*NAVBAR FIX*/
    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .menu{
        flex-direction: column;
    }  
/*WELCOME PAGE FIX*/
    .bienvenida_texts{
        padding-bottom: 2rem;
    }

    #button_container{
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    

    /*SERVICIOS PAGE*/
    .divisorbanner{
        display: none;
    }

    .col{
        padding-top: 100px;
    }

    footer{
        padding-top: 100px;
    }

    .gridContSetup{
        padding-top: 30px;
        display: flex;
        flex-direction: column;
    }
    .cajita{
        padding-top: 50px;
        display: flex;
        flex-direction: column;     
    }

}