.contact_grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.divisorbannerCol{
    width: 200px;
    height: 300px;
    background-color:var(--primary);
}

.contactTitle{
    font-size: 3em;
    
}

.contactForm h3{
    padding-top: 0.5em;
    padding-bottom: 0.5m;
}

.contactForm input, textarea{
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.1);
    opacity: 0.6;
}

.contactSubButton{
    padding: 5px;
}

.servtitulo2{
    color: var(--accent);
    font-size: var(--text-xl);
    text-align: center;
    letter-spacing: 0.5rem;
}

/* FIN PAGINA DE CONTACTO*/